click==8.3.1
gunicorn==23.0.0
joblib==1.5.3
Levenshtein==0.27.3
nltk==3.9.2
numpy==2.3.5
packaging==25.0
pandas==2.3.3
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.3
pytz==2025.2
RapidFuzz==3.14.3
regex==2025.11.3
six==1.17.0
tqdm==4.67.1
tzdata==2025.3
